/*.liste_films .film_container {
  justify-content: center;
  width: calc(25% - 10px);
  margin-left: 7.5rem;
  margin-bottom: 20px;
  box-sizing: border-box;
}*/
.liste_films {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  grid-auto-flow: row;
  margin: 0 20px;
}
